 .main {
     width: 980px;
     height: 465px;
     background-color: pink;
     margin-left: 220px;
 }

 .focus {
     float: left;
     width: 721px;
     height: 465px;
     background-color: purple;
 }

 .newsflash {
     float: right;
     width: 250px;
     height: 465px;
     background-color: skyblue;
 }